<a href="https://colab.research.google.com/github/federicorey/ciencia_datos_uade/blob/master/Aviacion_Civil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aviacion Civil


---

La Administración Nacional de Aviación Civil podría estar interesada en mejorar la eficiencia y seguridad del transporte aéreo, analizar la saturación de ciertos aeropuertos o rutas, y evaluar la capacidad de la infraestructura aeroportuaria en función del crecimiento de pasajeros y vuelos. Las preguntas de negocio podrían incluir:
- ¿Cuáles son las rutas más frecuentadas?
- ¿Cómo varía la demanda de vuelos a lo largo del tiempo?
- ¿Qué aeropuertos requieren expansión o mejoras según los volúmenes de tráfico?
- ¿Qué compañías controlan la mayor parte del mercado aéreo?
- ¿Cómo influyen el clima, fiestas y festivales en la demanda de vuelos?
- ***Esta análisis se basa en los vuelos comerciales nacionales***

## Extraccion

### Aterrizajes y despegues procesados por la Administración Nacional de Aviación Civil (ANAC)

In [ ]:
# Vuelos
%%capture
!wget https://datos.transporte.gob.ar/dataset/21038a1a-c3c7-4494-b76a-3a2a8fbb83b5/resource/aa8337de-3565-4ecf-9cd9-6f1c61f8f0ed/download/2019_informe_ministerio.csv
!wget https://datos.transporte.gob.ar/dataset/21038a1a-c3c7-4494-b76a-3a2a8fbb83b5/resource/d0e75e7d-e416-470f-bedb-ef2a877cbae3/download/2020_informe_ministerio.csv
!wget https://datos.transporte.gob.ar/dataset/21038a1a-c3c7-4494-b76a-3a2a8fbb83b5/resource/1b4f569a-cab0-4560-993c-5bf96c3e7cf0/download/202112_informe_ministerio.csv
!wget https://datos.transporte.gob.ar/dataset/21038a1a-c3c7-4494-b76a-3a2a8fbb83b5/resource/11894a35-de36-4579-b084-d1191f551fbe/download/202212-informe-ministerio.csv
!wget https://datos.transporte.gob.ar/dataset/21038a1a-c3c7-4494-b76a-3a2a8fbb83b5/resource/e910fead-ade3-40ce-ae8f-cad2017aa007/download/202312-informe-ministerio-actualizado-dic.csv
!wget https://datos.transporte.gob.ar/dataset/21038a1a-c3c7-4494-b76a-3a2a8fbb83b5/resource/6004191c-83ca-4a0a-a687-c059bb0a8c8e/download/202408-informe-ministerio.csv

### Lista de Aeropuertos

In [ ]:
# Aeropuertos
%%capture
!wget https://datos.transporte.gob.ar/dataset/62b3fe5f-ffe6-4d8f-9d59-bfabe75d1ee8/resource/eb54e49e-9a5a-4614-91f4-526c650d0105/download/aeropuertos_detalle.csv

## Transformacion

#### Esquema de datos: **Vuelos**


| **Campo**                     | **Tipo de Dato** | **Descripción**                                                                                                                                     |
|-------------------------------|-----------------|-----------------------------------------------------------------------------------------------------------------------------------------------------|
| **Fecha**                     | date            | Fecha de vuelo UTC                                                                                                                                  |
| **Hora UTC**                  | string          | Hora UTC (Tiempo Universal Coordinado). Al evaluar el dato, considerar que Argentina tiene hora oficial UTC -3.                                      |
| **Clase de Vuelo**            | string          | Categorías de vuelos                                                                                                                                |
| **Clasificación Vuelo**        | string          | Clasificación del tipo de vuelo: Cabotaje o Internacional                                                                                           |
| **Tipo de Movimiento**        | string          | Clasificación del tipo de movimiento. Se considera “Movimiento” a una operación, sea aterrizaje o despegue.                                          |
| **Aeropuerto**                | string          | Nombre del aeropuerto (código FAA)                                                                                                                  |
| **Origen / Destino**          | string          | Código FAA para aeropuertos nacionales y OACI para aeropuertos extranjeros                                                                           |
| **Aerolínea Nombre**          | string          | Nombre de la línea aérea                                                                                                                            |
| **Aeronave**                  | string          | Código para identificar a los fabricantes de las aeronaves con la designación específica del modelo del avión.                                        |
| **Pasajeros**                 | integer         | Cantidad de pasajeros por operación individual (despegue/aterrizaje). Para vuelos de cabotaje se registra despegue y aterrizaje.                      |
| **PAX**                       | string   | 1 pax = 1 tarjeta de embarque. Usar esta columna al analizar la cantidad de pasajeros de cabotaje a nivel total país.                                 |
| **Calidad dato**              | no utilizado    | La información de los últimos 3 meses es provisoria.                                                                                                |

#### Esquema de datos: **Aeropuertos**

| **Campo**        | **Tipo de Dato** | **Descripción**                                                                                                   |
|------------------|------------------|-------------------------------------------------------------------------------------------------------------------|
| **Local**        | string           | Localidad donde se encuentra el aeropuerto.                                                                       |
| **OACI**         | string           | Abreviación del aeropuerto (código OACI).                                                                         |
| **IATA**         | string           | Código de tres letras asignado por la Asociación Internacional de Transporte Aéreo (IATA).                        |
| **Tipo**         | string           | Se refiere al tipo de infraestructura (aeródromo o helipuerto).                                                   |
| **Denominación** | string           | Nombre oficial del aeródromo o helipuerto.                                                                        |
| **Coordenadas**  | string           | Coordenadas geográficas en formato estándar.                                                                      |
| **Latitud**      | string           | Especifica la ubicación exacta en grados de latitud.                                                              |
| **Longitud**     | string           | Especifica la ubicación exacta en grados de longitud.                                                             |
| **Elev**         | float            | Elevación del aeródromo sobre el nivel del mar.                                                                   |
| **UOM Elev**     | string           | Unidad de medida utilizada para expresar la elevación (metros o pies).                                            |
| **Ref**          | string           | Referencia de ubicación.                                                                                          |
| **Distancia Ref**| float            | Distancia desde la referencia especificada.                                                                       |
| **Dirección Ref**| string           | Dirección en grados desde el punto de referencia.                                                                 |
| **Condición**    | string           | Condición operativa del aeródromo (público o privado).                                                            |
| **Control**      | string           | Indica si el aeródromo tiene control de tráfico aéreo.                                                            |
| **Región**       | string           | Región administrativa donde está ubicado el aeródromo.                                                            |
| **FIR**          | string           | Región de Información de Vuelo (Flight Information Region).                                                       |
| **Uso**          | string           | Uso del aeródromo (militar, civil o mixto).                                                                       |
| **Tráfico**      | string           | Tipo de tráfico permitido (internacional o nacional).                                                             |
| **SNA**          | string           | Indica si pertenece al Sistema Nacional de Aeropuertos (SNA).                                                     |
| **Concesionado** | string           | Indica si el aeródromo está concesionado a una entidad privada.                                                   |
| **Provincia**    | string           | Provincia en la que se encuentra el aeródromo.                                                                    |
| **Inhab**        | no utilizado     | Indica si el aeródromo está inhabilitado para operaciones.                                                        |

In [ ]:
# Importamos librerias
import pandas as pd

#### Limpieza, Validacion y Correccion: Vuelos

In [ ]:
# Cargar a dataframe archivos CSV
df_2019 = pd.read_csv("/content/2019_informe_ministerio.csv", sep=';')
df_2020 = pd.read_csv("/content/2020_informe_ministerio.csv", sep=';')
df_2021 = pd.read_csv("/content/202112_informe_ministerio.csv", sep=';')
df_2022 = pd.read_csv("/content/202212-informe-ministerio.csv", sep=';' )
df_2023 = pd.read_csv("/content/202312-informe-ministerio-actualizado-dic.csv", sep=';')
df_2024 = pd.read_csv("/content/202408-informe-ministerio.csv", sep=';')

<ipython-input-4-7e388db1b62a>:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv("/content/2020_informe_ministerio.csv", sep=';')
<ipython-input-4-7e388db1b62a>:5: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2022 = pd.read_csv("/content/202212-informe-ministerio.csv", sep=';' )

***Se corrige el warning al importar, ya que se detecta tipo de datos mixtos. Se corrige en la celda siguiente***

In [ ]:
# Corregir tipo de datos en columna (8) de df_2020 y columna (10) de df_2022
df_2020['Aeronave'] = df_2020['Aeronave'].astype(str)
df_2022['PAX'] = df_2022['PAX'].astype(str)

In [ ]:
# Contar la cantidad de columnas de cada dataframe
print("Cantidad de columnas en df_2019:", len(df_2019.columns))
print("Cantidad de columnas en df_2020:", len(df_2020.columns))
print("Cantidad de columnas en df_2021:", len(df_2021.columns))
print("Cantidad de columnas en df_2022:", len(df_2022.columns))
print("Cantidad de columnas en df_2023:", len(df_2023.columns))
print("Cantidad de columnas en df_2024:", len(df_2024.columns))

Cantidad de columnas en df_2019: 12
Cantidad de columnas en df_2020: 12
Cantidad de columnas en df_2021: 1
Cantidad de columnas en df_2022: 12
Cantidad de columnas en df_2023: 12
Cantidad de columnas en df_2024: 12

***Nota: Se detecta un error de importación, ya que uno de los archivos CSV tiene un delimitador distinto al resto de los archivos y eso provoca la importacion a una sola columna del df_2021. Se corrige en la celda siguiente***

In [ ]:
df_2021 = pd.read_csv("/content/202112_informe_ministerio.csv", sep=',')

In [ ]:
# Combinar todos los df de vuelos en uno solo
df_vuelos = pd.concat([df_2019, df_2020, df_2021, df_2022, df_2023, df_2024])

In [ ]:
df_vuelos.columns, df_vuelos.shape

(Index(['Fecha', 'Hora UTC', 'Clase de Vuelo', 'Clasificacion Vuelo',
        'Tipo Movimiento', 'Aeropuerto', 'Origen / Destino', 'Aerolinea Nombre',
        'Aeronave', 'Pasajeros', 'PAX', 'Calidad del dato'],
       dtype='object'),
 (2532886, 12))

***Se detecta que las columnas de cada df son diferentes en su etiqueta. Deberían ser 12 y se encuentran 18.Se corrige en la celda siguiente***

In [ ]:
columnas = ['Fecha', 'Hora UTC', 'Clase de Vuelo', 'Clasificacion Vuelo', 'Tipo Movimiento', 'Aeropuerto',
        'Origen / Destino', 'Aerolinea Nombre', 'Aeronave', 'Pasajeros', 'PAX', 'Calidad del dato']

df_2019.columns = columnas
df_2020.columns = columnas
df_2021.columns = columnas
df_2022.columns = columnas
df_2023.columns = columnas
df_2024.columns = columnas

df_vuelos = pd.concat([df_2019, df_2020, df_2021, df_2022, df_2023, df_2024])

In [ ]:
# Verificar
df_vuelos.columns, df_vuelos.shape

(Index(['Fecha', 'Hora UTC', 'Clase de Vuelo', 'Clasificacion Vuelo',
        'Tipo Movimiento', 'Aeropuerto', 'Origen / Destino', 'Aerolinea Nombre',
        'Aeronave', 'Pasajeros', 'PAX', 'Calidad del dato'],
       dtype='object'),
 (2532886, 12))

In [ ]:
df_vuelos.head()

,Fecha,Hora UTC,Clase de Vuelo,Clasificacion Vuelo,Tipo Movimiento,Aeropuerto,Origen / Destino,Aerolinea Nombre,Aeronave,Pasajeros,PAX,Calidad del dato
0,1/1/2019,00:01:00,REGULAR,Doméstico,Aterrizaje,EZE,SAL,AEROLINEAS ARGENTINAS SA,BO-B-737-76N,88,44,DEFINITIVO
1,1/1/2019,00:01:00,REGULAR,Internacional,Aterrizaje,EZE,SBGL,TRANSPORTES AEREOS DEL MERCOSUR,NaN,165,165,DEFINITIVO
2,1/1/2019,00:03:00,REGULAR,Doméstico,Aterrizaje,AER,SIS,AUSTRAL LINEAS AEREAS-CIELOS DEL SUR S.A,EMB-ERJ190100IGW,22,11,DEFINITIVO
3,1/1/2019,00:04:00,REGULAR,Internacional,Aterrizaje,EZE,SBGR,TRANSPORTES AEREOS DEL MERCOSUR,NaN,69,69,DEFINITIVO
4,1/1/2019,00:06:00,REGULAR,Internacional,Aterrizaje,AER,SBGR,LAN ARGENTINA S.A. (LATAM AIRLINES),AIB-A-320-233,53,53,DEFINITIVO

In [ ]:
# Validacion de datos null
df_vuelos.isnull().sum()

Fecha                       0
Hora UTC                    0
Clase de Vuelo              0
Clasificacion Vuelo         0
Tipo Movimiento             3
Aeropuerto                  0
Origen / Destino            3
Aerolinea Nombre       182407
Aeronave                91661
Pasajeros                   0
PAX                         0
Calidad del dato            0
dtype: int64

In [ ]:
# Visualizar los tres registros que tiene valor null en la columna 'Tipo Movimiento'
df_vuelos[df_vuelos['Tipo Movimiento'].isnull()]

,Fecha,Hora UTC,Clase de Vuelo,Clasificacion Vuelo,Tipo Movimiento,Aeropuerto,Origen / Destino,Aerolinea Nombre,Aeronave,Pasajeros,PAX,Calidad del dato
110721,8/3/2019,18:05:00,VUELOS PRIVADOS NACIONALES,Doméstico,NaN,AER,NaN,NaN,BE-A-100,0,0,DEFINITIVO
388994,30/8/2019,19:34:00,VUELOS ESCUELA,Doméstico,NaN,ROS,NaN,FLYING TIME,TEA-P2002-JF,0,0,DEFINITIVO
564141,19/12/2019,20:54:00,VUELOS ESCUELA,Doméstico,NaN,MOR,NaN,NaN,CE-150-J,0,0,DEFINITIVO

***Estos tres registros no son útiles por tratarse de vuelos no comerciales, se verificará si hay mas registros de "Clase de Vuelo" con categorias que no esten en el rango de vuelos nacionales comerciales***

In [ ]:
# categorias para clase de vuelo
df_vuelos['Clase de Vuelo'].value_counts()

Clase de Vuelo
Regular                                    1015522
REGULAR                                     363440
Vuelo Privado con Matrícula Nacional        322744
Vuelo Escuela                               266382
No Regular                                  172725
Vuelo Oficial Nacional                      134455
VUELOS ESCUELA                               80441
VUELOS PRIVADOS NACIONALES                   72277
NO REGULAR                                   28304
VUELOS OFICIALES NACIONALES                  23689
Vuelo de Adiestramiento                      16296
Vuelo Privado con Matrícula Extranjera       15542
Trabajo Aéreo                                 7051
VUELOS DE ADIESTRAMIENTO                      4692
VUELOS PRIVADO CON MATRICULA EXTRANJERA       4665
TRABAJO AEREO                                 2737
Vuelo Oficial Extranjero                      1395
VUELOS OFICIALES EXTRANJEROS                   528
ESCUELA (NO VIGENTE)                             1
Name: count, dtype: int64

***Solo se tomará en cuenta los registros categorizados como regulares ('REGULAR' y 'Regular'), el resto serán eliminados***

In [ ]:
# Filtrar el DataFrame para incluir solo los registros con 'Clase de Vuelo' igual a 'REGULARES' o 'regulares'
df_vuelos = df_vuelos[df_vuelos['Clase de Vuelo'].isin(['REGULAR', 'Regular'])]
df_vuelos.shape

(1378962, 12)

In [ ]:
# Nueva validacion de datos null
df_vuelos.isnull().sum()

Fecha                      0
Hora UTC                   0
Clase de Vuelo             0
Clasificacion Vuelo        0
Tipo Movimiento            0
Aeropuerto                 0
Origen / Destino           0
Aerolinea Nombre          86
Aeronave               61186
Pasajeros                  0
PAX                        0
Calidad del dato           0
dtype: int64

In [ ]:
# Visualizar los registros que tiene valor null en la columna 'Aerolinea Nombre'
df_vuelos[df_vuelos['Aerolinea Nombre'].isnull()]

,Fecha,Hora UTC,Clase de Vuelo,Clasificacion Vuelo,Tipo Movimiento,Aeropuerto,Origen / Destino,Aerolinea Nombre,Aeronave,Pasajeros,PAX,Calidad del dato
7971,6/1/2019,12:35:00,REGULAR,Doméstico,Despegue,DOZ,DOZ,NaN,NaN,0,0,DEFINITIVO
15319,10/1/2019,22:14:00,REGULAR,Doméstico,Aterrizaje,NEU,NEU,NaN,PA-PA-28-140,0,0,DEFINITIVO
17268,11/1/2019,23:33:00,REGULAR,Internacional,Aterrizaje,CBA,SGAS,NaN,CE-500,4,4,DEFINITIVO
17309,11/1/2019,23:58:00,REGULAR,Doméstico,Despegue,CBA,CBA,NaN,CE-500,0,0,DEFINITIVO
17313,12/1/2019,00:00:00,REGULAR,Doméstico,Aterrizaje,CBA,CBA,NaN,CE-500,0,0,DEFINITIVO
...,...,...,...,...,...,...,...,...,...,...,...,...
534478,1/12/2019,13:58:00,REGULAR,Doméstico,Despegue,CHP,NEU,NaN,TXI-172M,0,0,DEFINITIVO
550532,11/12/2019,13:22:00,REGULAR,Doméstico,Despegue,AER,PTM,NaN,EMB-EMB-145LR,64,32,DEFINITIVO
554304,13/12/2019,18:35:00,REGULAR,Doméstico,Aterrizaje,SVO,ESC,NaN,NaN,0,0,DEFINITIVO
573886,26/12/2019,20:40:00,REGULAR,Doméstico,Despegue,SVO,FDO,NaN,BE-65-A-90,0,0,DEFINITIVO
576461,28/12/2019,15:42:00,REGULAR,Doméstico,Despegue,IGU,PAL,NaN,AIB-A320-232,302,151,DEFINITIVO

In [ ]:
# Registros sin nombre de aerolinea
df_vuelos[df_vuelos['Aerolinea Nombre'].isnull()].shape

(86, 12)

In [ ]:
df_vuelos.shape

(1378962, 12)

***Criterio de eliminacion de registros: La cantidad de registros sin nombre de aerolinea asignado no nos es útil, y dado que es un porcentaje muy menor del total de registros el impacto en el análisis tambien será bajo***

In [ ]:
# Eliminar los registros donde 'Aerolinea Nombre' es nulo
df_vuelos = df_vuelos.dropna(subset=['Aerolinea Nombre'])
df_vuelos.shape

(1378876, 12)

***No se realizará eliminacion de los valores nulos de aeronave, ya que la cantidad de registros es significativa y no afectará tanto en el análisis***

#### Limpieza, Validacion y Correccion: Aeropuertos

In [ ]:
df_aeropuertos = pd.read_csv("/content/aeropuertos_detalle.csv", sep=';')